@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
    text-decoration: none;    
}

::-webkit-scrollbar {
    width: 20px;
    box-shadow: inset 0 0 2px #111;
}
::-webkit-scrollbar-thumb {
    background: #777;
}

::-webkit-scrollbar-thumb:hover {
    background: #444;
}
::-webkit-scrollbar-thumb:active {
    background: #222;
}

:root {
    --navbar: 120px;
}

body {
    background: white;
    width: 100%;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.reveal {
    transform: translateY(30%);
    opacity: 0;
    transition: .8s;
}
.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.fullScreen {
    height: calc(100vh - var(--navbar));
    overflow: hidden;
    .video {
        top: var(--navbar);
        position: absolute;
        width: 100%;
        height: calc(100vh - var(--navbar));
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin: 0;
        z-index: -1000;
        video {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            source {
                position: absolute;
            }
        }
    }
    .navbar {
        background: white;
        position: fixed;
        width: 100vw;
        z-index: 1000;
        border-bottom: 1px solid #000;
        transition: .3s;
        &.nav-none {
            .container {
                height: 100px;
            }
        }
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: var(--navbar);
            transition: .3s;
            .left {
                img {
                    padding-top: 5%;
                    width: 100px; //calc(4.5vw + 45px);
                }
            }
            .flex {
                display: flex;
                flex-direction: row-reverse;
            }
            .right,
            .flex .right {
                > i:last-child {
                    font-size: 25px;
                    display: none;
                    padding: 20px;
                }
                .links {
                    display: flex;
                    gap: 20px;
                    > i:first-child {
                        font-size: 30px;
                        padding: 20px;
                        display: none;
                    }
                    .link {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;
                        transition: .2s;
                        color: black;
                        img:last-child {
                            transform: rotateY(180deg) scale(.5);
                        }
                        img {
                            color: black;
                            transform: scale(.5);
                            opacity: 0;
                            transition: .2s;
                            height: 20px;
                        }
                        &:hover img {
                            opacity: 1;
                            transform: scale(1);
                        }
                        &:hover img:last-child {
                            opacity: 1;
                            transform: scale(1) rotateY(180deg);
                        }
                        &:hover {
                            transform: scale(1.05);
                        }
                        span {
                            color: black;
                            text-transform: capitalize;
                            border-bottom: 1px solid transparent;
                            transition: .2s;
                            padding: 2px 0;
                        }
                        
                    }
                    .link.link-hover {
                        img {
                            opacity: 1;
                            transform: scale(1);
                        }
                        img:last-child {
                            opacity: 1;
                            transform: scale(1) rotateY(180deg);
                        }
                        span {
                            font-weight: 600;
                            border-bottom: 1px solid black;
                        }  
                    }
                }
            }
            .center {
                display: flex;
                align-items: center;
                > i {
                    color: red;
                }
                select {
                    border: none;
                    outline: none;
                    font-size: 16px;
                    background: transparent;
                    
                }
            }
        }
    }
    .main {
        margin-top: 130px;
        height: calc(100vh - var(--navbar));
        .container,
        .container.animate:hover {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            .right {
                z-index: -100;
                width: auto;
                overflow: hidden;
                height: 120px;
                padding-left: 3vw;
                display: flex;
                align-items: center;
                transform: translate(0);
                border-left: 1px solid white;
                animation: 3s borderA ease-in-out 1;
                h1 {
                    width: 100%;
                    color: white;
                    animation: 3s topAnimate ease-in-out 1;
                }
                @keyframes topAnimate {
                    30%,
                    0% {
                        transform: translateX(-115%);
                    }
                    70% {
                        transform: translateX(0);
                    }
                }
                @keyframes borderA {
                    16%, 0% {
                        border-color: transparent;
                    }
                    50% {
                        transform: translateX(10%);
                        border-color: white;
                    }
                    60% {
                        transform: translateX(0);
                    }
                    100% {
                        border-color: white;
                    }
                }
            }
            .left {
                display: flex;
                justify-content: flex-end;
                padding-right: 3vw;
                z-index: 100;
                img {
                    width: 300px;
                    animation: 3s bottomAnimate ease-in-out 1;
                }
                @keyframes bottomAnimate {
                    15%,
                    0% {
                        transform: translateX(90%);
                    }
                    90% {
                        transform: translateX(0);
                    }
                    50% {
                        transform: translateX(-5%);
                    }
                    70% {
                        transform: translateX(5%);
                    }
                }
            }
        }
        .animate {
            .right {
                border-color: transparent;
                animation: 3s border1 ease-in-out 1;
                h1 {
                    width: auto;
                    transform: translateX(-115%);
                    animation: 3s Animate1 ease-in-out 1;
                    opacity: 0;
                }
                @keyframes Animate1 {
                    30%,
                    0% {
                        transform: translateX(0);
                        opacity: 1;
                    }
                    70% {
                        transform: translateX(-115%);
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
                @keyframes border1 {
                    60%,
                    100% {
                        border-color: transparent;
                    }
                    50% {
                        border-color: white;
                        transform: translateX(10%); 
                    }
                    16% {
                        transform: translateX(0);
                    }
                    0% {
                        border-color: white;
                    }
                }
            }
            .left {
                img {
                    width: 300px;
                    animation: 3s bottom2 ease-in-out 1;
                    transform: translateX(90%);
                    opacity: 1;
                }
                @keyframes bottom2 {
                    70% {
                        transform: translateX(95%);
                    }
                    80% {
                        transform: translateX(90%); 
                    }
                    100% {
                    }
                    30% {
                        transform: translateX(-5%);
                    }
                    10%,
                    0% {
                        transform: translateX(0%);
                        opacity: 1;
                    }
                }
            }
        }
        .animate:hover {
            .right {
                animation: 3s border5 ease-in-out 1;
                h1 {
                    width: auto;
                    transform: translateX(0);
                    animation: 3s Animate5 ease-in-out 1;
                    opacity: 1;
                }
                @keyframes Animate5 {
                    30%,
                    0% {
                        transform: translateX(0);
                    }
                    50% {

                    }
                    70% {
                        transform: translateX(-110%);
                    }
                    80% {
                        opacity: 0;
                    }
                }
                @keyframes border5 {
                    90%,
                    100% {
                        border-color: transparent;
                    }
                    86% {
                        border-color: white;
                    }
                    50% {
                        transform: translateX(10%);
                        border-color: white;
                    }
                    16% {
                        border-color: transparent;
                        transform: translateX(0);
                    }
                }
            }
            .left {
                img {
                    width: 300px;
                    animation: 3s bottom5 ease-in-out 1;
                    transform: translateX(0);
                    opacity: 1;
                }
                @keyframes bottom5 {
                    70% {
                        transform: translateX(95%);
                    }
                    80% {
                        transform: translateX(90%); 
                    }
                    100% {
                    }
                    30% {
                        transform: translateX(-5%);
                    }
                    10%,
                    0% {
                        transform: translateX(0%);
                    }
                }
            }
        }
    }
}
.ourClub,
.clean {
    margin-top: 100px;
    .container {
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        h1 {
            text-align: center;
            margin-bottom: 40px;
            font-size: 35px;
            text-transform: capitalize;
            span {
                color: white;
                text-shadow: 1px 1px black, -1px -1px black;
            }
        }
        .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left {
                width: 47%;
                img {
                    width: 100%;
                    border-radius: 5px;
                }
            }
            .right {
                width: 47%;
                h2 {
                    font-size: 30px;
                    font-weight: 500;
                    margin-bottom: 30px;
                }
                p {
                    font-size: 20px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.clean {
    background: #f5f2e5;
    margin-top: 0;
    .container {
        
        .flex {
            .left {
                width: 50%;
                display: flex;
                justify-content: center;
                img {
                    width: 60%;
                }
            }
            .right {
                > h1 {
                    text-align: left;
                    font-size: 25px;
                }
                h2 {
                    font-weight: 600;
                }
            }
        }
    }
}
.sale {
    .container {
        padding: 100px 0;
        > h1 {
            text-align: center;
            margin-bottom: 40px;
            font-size: 35px;
            text-transform: capitalize;
            span {
                color: white;
                text-shadow: 1px 1px black, -1px -1px black;
            }
        }
        .clean-txt {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                font-size: 25px;
                margin-bottom: 15px;
                text-align: center;
            }
            p {
                font-size: 18px;
                width: 80%;
                margin-bottom: 30px;
                text-align: center;
            }
        }
        .flex {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            .box {
                width: 33%;
                .transition {
                    padding: 20px;
                    border: 1px solid transparent;
                    width: 100%;
                    transition: .2s;
                    .img {
                        max-height: 280px;
                        overflow: hidden;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    h2 {
                        font-size: 22px;
                        margin: 10px 0 20px 0;
                    }
                    p {
                        font-size: 18px;
                        text-align: justify;
                    }
                }
                .transition:hover {
                    border-color: black;
                    transform: scale(1.02);
                }
            }
            .reveal {
                transition: .8s;
            }
        }
    }
}
.organic {
    background: #f5f2e5;
}
.sort {
    .container {
        padding: 100px 0;
        .top {
            h1 {
                text-align: center;
                margin-bottom: 20px;
            }
            p {
                font-size: 18px;
                text-align: justify;
            }
        }
        .bottom {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-top: 30px;
            .reveal {
                width: 33%;
                border: 1px solid black;
                .box {
                    padding: 20px;
                    width: 100%;
                    transition: .2s;
                    h3 {
                        font-size: 20px;
                        margin-bottom: 10px;
                    }
                }
                .box:hover {
                    background: black;
                    color: white;
                }
            }
        }
    }
}

.contact {
    background: #f5f2e5;
    .container {
        padding: 100px 0;
        max-width: 1200px;
        > h1 {
            text-align: center;
            margin-bottom: 40px;
            font-size: 35px;
            text-transform: capitalize;
            span {
                color: white;
                text-shadow: 1px 1px black, -1px -1px black;
            }
        }
        .flex {
            display: flex;
            justify-content: center;
            .left {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                a {
                    line-height: 2;
                    font-size: 18px;
                    i {
                        margin-right: 10px;
                    }
                }
                h3 {
                    font-size: 25px;
                    text-transform: capitalize;
                    margin-top: 20px;
                }
            }
            .right {
                width: 50%;
                iframe {
                    width: 100%;
                    height: 400px;
                }
            }
        }
    }
}
.footer {
    background: black;
    .container {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;
        .right,
        .left,
        .center {
            width: 30%;
            display: flex;
            flex-direction: column;
            a {
                opacity: .85;
                color: white;
                line-height: 2;
                transition: .1s;
                display: flex;
                align-items: center;
                i {
                    margin-right: 10px;
                    color: black;
                    transition: .15s;
                    text-shadow: 1px 1px white, -1px -1px white;
                }
            }
            a:hover {
                opacity: 1;
                transform: scale(1.05);
                i {
                    color: white;
                    text-shadow: none;
                }
            }
            img {
                width: 50%;
            }
            h1 {
                color: white;
            }
        }
        .ong {
            width: 60%;
            display: flex;
            justify-content: space-between;
            .center,
            .right {
                width: 50%;
                
            }
        }
    }
}

@media (max-width: 1500px) {
    .container {
        width: 90%;
    }
    .fullScreen {
        .navbar {
            .container {
                width: 95%;
            }
        }
    }
    .ourClub {
        .container {
            .flex {
                .right{
                    h2 {
                        font-size: calc(1.2vw + 6px);
                        margin-bottom: 20px;
                    }
                    p {
                        font-size: calc(.6vw + 8px);
                        margin-bottom: 12px;
                    }
                }
            }
        }
    }
    .clean {
        .container {
            .flex {
                .right {
                    > h1 {
                        font-size: calc(1.2vw + 5px);
                        margin-bottom: 15px;
                    }
                    > h2 {
                        font-size: calc(1.5vw + 8px);
                        margin-bottom: 10px;
                    }
                    a {
                        float: right;
                        i {
                            margin-right: 5px;
                        }
                    }
                    p,
                    a {
                        font-size: calc(.4vw + 12px);
                    }
                }
            }
        }
    }
    .sale {
        .container {
            .flex {
                .box {
                    .transition {
                        .img {
                            max-height: 15.5vw;
                        }
                        p {
                            font-size: calc(.5vw + 10px);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .fullScreen {
        .navbar {
            .container {
                .right,
                .flex .right {
                    > i:last-child {
                        display: flex;
                    }
                    .links {
                        position: fixed;
                        width: 45%;
                        height: 100vh;
                        background: white;
                        right: -100%;
                        top: 0;
                        flex-direction: column;
                        justify-content: center;
                        padding: 50px 0;
                        transition: .5s;
                        &.active {
                            right: 0;
                        }
                        > i:first-child {
                            display: flex;
                            position: absolute;
                            right: 30px;
                            top: 20px;
                        }
                        .link {
                            gap: calc(.6vw + 5px);
                            a, i {
                                font-size: 20px;
                            }
                            a::before {
                                display: none;
                            }
                        }
                        .link.link-hover {
                            span {
                                font-weight: 600;
                                border-bottom: 1px solid transparent;
                            }  
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1080px) {
    .ourClub,
    .clean,
    .sale,
    .sort,
    .contact {
        .container {
            padding: 60px 0;
        }
    }
    .ourClub {
        .container {
            .flex {
                width: 70%;
                margin: 0 auto;
                flex-direction: column;
                .right{
                    width: 100%;
                    h2 {
                        font-size: calc(.8vw + 14px);
                        margin-bottom: calc(.9vw + 10px);
                    }
                    p {
                        font-size: calc(.5vw + 12px);
                        margin-bottom: calc(.4vw + 6px);
                    }
                    a {
                        font-size: 16px;
                    }
                }
                .left {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .clean {
        .container {
            .flex {
                flex-direction: column-reverse;
                .left,
                .right 
                {
                    width: 100%;
                    max-width: 600px;
                }
                .left {
                    img {
                        width: 80%;
                    }
                    margin-bottom: 30px;
                }
                .right {
                    > h1 {
                        font-size: 20px;
                        text-align: center;
                    }
                    > h2 {
                        font-size: 25px;
                        text-align: center;
                    }
                    p {
                        font-size: 17px;
                    }
                }
            }
        }
    }
    .sale {
        .container {
            h1 {
                margin-bottom: 20px;
            }
            
            .flex {
                flex-wrap: wrap;
                justify-content: center;
                .box {
                    width: 48%;
                    .transition {
                        .img {
                            max-height: 25vw;
                        }
                        p {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    .contact {
        .container {
            .flex {
                flex-direction: column-reverse;
                .left {
                    width: 100%;
                    text-align: center;
                }
                .right {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .footer {
        .container {
            .left {
                width: 50%;
            }
            .ong {
                width: 50%;
                flex-direction: column;
                justify-content: flex-start;
                .right,
                .center{
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    :root {
        --navbar: 100px;
    }
    .container {
        width: 95%;
    }
    .ourClub,
    .clean,
    .sale,
    .sort,
    .contact {
        .container {
            padding: 50px 0;
        }
    }
    .fullScreen {
        .navbar {
            .container {
                .right,
                .flex .right {
                    .links {
                        width: 60%;
                    }
                }
            }
        }
        .main {
            .container,
            .conatiner.animate,
            .container.animate:hover {
                display: flex;
                flex-direction: column;
                .right {
                    animation: 3s borderA ease-in-out 0;
                    animation: 3s border1 ease-in-out 0;
                    border: none;
                    h1 {
                        text-align: center;
                        animation: 3s topAnimate ease-in-out 0;
                        animation: 3s Animate1 ease-in-out 0;
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
                .left {
                    img {
                        animation: 3s bottomAnimate ease-in-out 0;
                        animation: 3s bottom2 ease-in-out 0;
                        transform: translateX(0);
                    }
                }
            }
        }
    }
    .ourClub {
        .container {
            .flex {
                width: 90%;
            }
        }
    }
    .sale {
        .container {
            .flex {
                flex-wrap: wrap;
                justify-content: center;
                max-width: 600px;
                margin: 0 auto;
                .box {
                    width: 100%;
                    .transition {
                        padding: 10px;
                        .img {
                            max-height: calc(12vw + 160px);
                            img {
                                width: 100%;
                            }
                        }
                        p {
                            font-size: 16px;
                        }
                    }
                    .transition:hover {
                        border: none;
                        transform: scale(1);
                    }
                }
            }
        }
    }
    .sort {
        .container {
            width: 90%;
            .bottom {
                flex-wrap: wrap;
                justify-content: center;
                .reveal {
                    width: 48%;
                }
            }
        }
    }
    .contact {
        .container {
            .flex {
                padding: 0 20px;
                .right {
                    iframe {
                        height: calc(20vw + 200px);
                    }
                }
            }
        }
    }
    .footer {
        .container {
            flex-direction: column;
            .left {
                width: 100%;
                margin-bottom: 20px;
            }
            .ong {
                width: 100%;
                flex-direction: column;
            }
        }
    }
}
@media (max-width: 560px) {
    .sort {
        .container {
            .bottom {
                .reveal {
                    width: 100%;
                }
            }
        }
    }
    .sale {
        .container {
            .clean-txt {
                h2 {
                    font-size: calc(1.6vw + 15px);
                }
                p {
                    width: 100%;
                    font-size: calc(1.4vw + 10px);
                }
            }
        }
    }
}

@media (max-width: 450px) {
    :root {
        --navbar: 90px;
    }
    .ourClub,
    .clean,
    .sale,
    .sort,
    .contact {
        .container {
            padding: 30px 0;
        }
    }
    .fullScreen {
        .navbar {
            .container {
                .right,
                .flex .right {
                    .links {
                        width: 90%;
                    }
                }
            }
        }
    }
    .ourClub,
    .clean,
    .sale {
        .container {
            h1 {
                font-size: calc(2.5vw + 20px);
            }
            .flex {
                width: 100%;
            }
        }
    }
    .contact {
        .container {
            .flex {
                padding: 0 10px;
            }
        }
    }
    .footer {
        .container {
            .left {
                h1 {
                    font-size: calc(2vw + 20px);
                }
            }
        }
    }
}

@media (max-width: 330px) {
    .footer {
        .container {
            .ong {
                .center,
                .right {
                    a {
                        font-size: calc(1vw + 10px);
                    }
                }
            }
        }
    }
}